git add DARTS_Performance/
Performance.Scripts/Data/00h15m.mp2
Performance.Scripts/Data/00h20m.mp2
Performance.Scripts/Data/00h30m.mp2
Performance.Scripts/Data/01h.mp2
Performance.Scripts/Data/02h.mp2
Performance.Scripts/Data/03h.mp2
Performance.Scripts/Data/04h.mp2
Performance.Scripts/Data/08h.mp2
Performance.Scripts/Data/12h.mp2
Performance.Scripts/Data/15h 15m.mp2
Performance.Scripts/Data/24h.mp2
*.class
.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/functionalTest/
bin/integrationTest/
bin/main/
bin/smokeTest/
bin/test/
bin/generated-sources/
 
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
 
### IntelliJ IDEA ###
.idea/*
!.idea/codeStyles/
/out
*.iws
*.iml
*.ipr
*.lock
 
.DS_Store
 
applicationinsights-agent-*.jar
*.log
.fake
.gradle/**
build/**
/.gradle/
/lib/
/.idea/
